---
import FormattedDate from '../components/FormattedDate.astro';

const { post } = Astro.props
const base = import.meta.env.BASE_URL;
---
<li>
    <a href=`${base}/blog/${post.slug}/`>
        <div class="image">
            <img src=`${base}/${post.data.heroImage}` alt="" />
        </div>
        <div class="body">
            <h4 class="title">{post.data.title}</h4>
            <p class="description">{post.data.description}</p>
            <p class="author">Por {post.data.author}</p>
            <p class="date"><FormattedDate class="date" date={post.data.pubDate} /></p>
        </div>
    </a>
</li>

<style>
    li > a {
        background: rgba(var(--gray-light));
        padding: 1rem;
        box-sizing: border-box;
        color: inherit;
        border: solid 1px rgba(var(--gray-light));
    }
    li * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    .image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: var(--radius);
        margin-bottom: 0.5rem;
    }
    .image > img {
        height: 100%;
    }
    li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    @media (max-width: 720px) {
        li {
            width: 100%;
            text-align: center;
        }
        li:first-child {
            margin-bottom: 0;
        }
        li:first-child .title {
            font-size: 1.563em;
        }
    }
</style>
