---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const base = import.meta.env.BASE_URL;
const { title, description, author, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
            <main>
                <div class="container">
                    {heroImage && <img class="hero-image" src=`${base}/${heroImage}` alt="" />}
                    <div class="prose">
                        <div class="metadata">
                            <div class="date">
                                {pubDate && <FormattedDate date={pubDate} />}
                                {updatedDate && (<span class="last-updated-on">Actualizado el <FormattedDate date={updatedDate} /></span>)}
                            </div>
                            <h1>{title}</h1>
                            {author && <p class="author">Por {author}</p>}
                        </div>
                        <hr />
                        <slot />
                    </div>
                </div>
            </main>
            <Footer />
    </body>
</html>


<style>
    main {
        background: var(--bg0);
        width: 100%;
    }
    .hero-image {
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin: 0 auto;
        border-radius: var(--radius);
        box-shadow: var(--box-shadow);
    }
    .prose {
        width: 720px;
        max-width: 100%;
        margin: auto;
        color: rgb(var(--gray-dark));
        font-size: 1.2rem;
    }
    .metadata {
        margin: 2rem 0;
        text-align: center;
        line-height: 1;
        border-bottom: 1px solid rgb(var(--gray-light));
    }
    .metadata > *:last-child {
        margin-bottom: 0;
    }
    .metadata h1 {
        margin: 0 0 0.5em 0;
    }
    .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
    }
    .last-updated-on {
        font-style: italic;
    }
    .author {
        color: rgb(var(--gray));
        margin-bottom: 0;
    }
</style>
